.container {
    max-width: 1200px;
    margin: 45px auto;

}

.naveber-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px
}

.logo-icon {
    width: 32px;
    height: 32px;
}

.icon-header {
    width: 94px;
    height: 44px;
    font-size: 18px;
}

/* menu section */
.menu-item ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.menu-item li {
    cursor: pointer;
}

/* button style */
.common-botton-style {
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.common-botton-style:hover {
    background-color: #718ccf;
    color: black;
}

/* hero section */
.hero-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    color: #ffffff;
    min-height: 80vh;

}

.hero-bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.hero-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.1));
    z-index: 2;

}

.hero-contant {
    position: relative;
    z-index: 3;
}

.hero-contant h1 {
    font-size: 80px;
    font-weight: 700px;
    margin-bottom: 20px;
}

.hero-contant h1 em {
    font-style: italic;
    font-weight: 400px;
}

.hero-contant p {
    font-size: 22px;
    color: #d1d5db;
    margin-bottom: 300px;
    max-width: 900px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

/* speakers section style */
.Speakers-section{
    padding: 60px 20px;
}
.Speakers-section h2{
    text-align: center;
    font-weight: 800;
    font-size: 34px;
    margin-bottom: 40px;
}
.Speakers-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.Speakers-card{
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    overflow: hidden;
}
.Speakers-card img{
    width: 100%;
    height: auto;
    display: block;
}
.Speakers-information{
    padding: 20px;
    line-height: 50%;
}
.category{
    color: #2563eb;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}